<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Sporty Shoe Inc.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Sporty Shoe Inc.</h1>
	<h2>Change Password</h2>
    <form action="#" th:action="@{/change_pwd}" th:object="${user}"  method="post">
    <p>Username: <input type="text" th:field="*{name}" /></p>
    <p>New Password: <input type="text" th:field="*{password}" /></p>
    <p>
        <input type="submit" value="Submit"/>
    </p>
    </form>
</body>
</html>