<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin Dashboard</title>
</head>
<body>
    <h1> Sporty Shoe Inc. </h1>
    <h2> Administrator Dashboard </h2>
    
    <a href="http://localhost:8080/change_pwd">Change your password</a>
    <br>
    <a href="http://localhost:8080/shoe_inventory">Manage your inventory</a>
    <br>
    <a href="http://localhost:8080/user_records">View registered users</a>
    <br>
    <a href="http://localhost:8080/sales_records">View Sales Record</a> 
</body>
</html>