<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<style>h1 {text-align: center;}
		h3 {text-align: center;}
		th {text-align: center;}
		td {text-align: center;}</style>
	<meta charset="ISO-8859-1">
	<title>Registered Users</title>

</head>
<body>
	<div class="container">	
	<h3>Registered Users List</h3>
	<hr/>
		<table class="table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Username</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user: ${users}">
					<td th:text="${user.id}" />
					<td th:text="${user.name}" />
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>